<h1> Detalle de carritos </h1>

<ul class="carts">
    {{#each carts}}
        <li>
            <p>ID #{{this._id}}</p>
            <ul>
                {{#each this.products}}
                    <li>
                        <strong>Producto:</strong> {{this.title}} <br>
                        <strong>Descripción:</strong> {{this.description}} <br>
                        <strong>Precio:</strong> ${{this.price}} <br>
                        <strong>Cantidad:</strong> {{this.quantity}} <br>
                    </li>
                {{/each}}
            </ul>
            <strong>Total Carrito:</strong> ${{this.amount}}
        </li>
    {{/each}}
</ul>