<h1> Detalle de productos </h1>

<ul class="products">
    {{#each products}}
        <li>
            <p>ID #{{this._id}}</p>
            <h2><strong>{{this.title}}</strong></h2>
            <h4>{{this.description}}</h4>
            <br>
            <p><strong>Código:</strong> {{this.code}}</p>
            <p><strong>Precio:</strong> ${{this.price}}</p>
            <p><strong>Categoría:</strong> {{this.category}}</p>
        </li>
    {{/each}}
</ul>

<div class="paginacion">
    {{#if prodPag.hasPrevPage}}
        <a class="botonPag" href="?limit={{prodPag.limit}}&page={{prodPag.prevPage}}">Anterior</a>
    {{else}}
        <span class="botonPag">Anterior</span>
    {{/if}}

    <span>Página {{prodPag.page}} de {{prodPag.totalPages}}</span>

    {{#if prodPag.hasNextPage}}
        <a class="botonPag" href="?limit={{prodPag.limit}}&page={{prodPag.nextPage}}">Siguiente</a>
    {{else}}
        <span class="botonPag">Siguiente</span>
    {{/if}}
</div>